################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Jwebapps.sln
/bin/Debug/net6.0/publish
